<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />
	<bean id="dept1" class="company.Department">
		<property name="jobType" value="IT Sales Manager" />
		<property name="jobAddress" value="Mumbai" />
	</bean>

	<bean id="dept2" class="company.Department">
		<property name="jobType" value="CS Service Manager" />
		<property name="jobAddress" value="Chinnai" />
	</bean>

	<bean id="emp1" class="company.Employee">
		<property name="empId" value="101" />
		<property name="empName" value="Usman" />
		<property name="empAddress" value="Mahim" />
	</bean>
	<bean id="emp2" class="company.Employee">
		<property name="empId" value="102" />
		<property name="empName" value="Yahyah" />
		<property name="empAddress" value="Bandra" />
		<!-- Another Why To Inject Object From Refer Class -->
		<property name="dept" ref="dept2" />
	</bean>

</beans>