<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- bean definitions here -->
	<!-- It Work Like:> SBI sbi1 = new SBI(); -->
	<bean class="com.app.SBI" id="sbi1" />
	<!-- It Work Like:> BOB bob1 = new BOB(); -->
	<bean class="com.app.BOB" id="bob1" />

	<!-- With Interface -->
	<!-- It Work Like:> RBI sbi2 = new SBI(); -->
	<bean class="com.app.SBI" id="sbi2" />
	<!-- It Work Like:> RBI bob1 = new BOB(); -->
	<bean class="com.app.BOB" id="bob2" />
</beans>