<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Hibernate_lab12</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">usman@dbms@sql</property>

		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.highlight_sql">true</property>

		<property name="hibernate.hbm2ddl.auto">update</property>
	<mapping class="dao.StudentsDao" />
		<mapping class="model.Student" />

	</session-factory>
</hibernate-configuration>